*{
    padding: 0;
    margin: 0;
}

.home{
  height: 100vh;
  background-color: #fff;
  /* text-align: center; */
  /* margin-top: 10%; */
  overflow: hidden;
}
.logo{
    max-width: 4rem;
    position: fixed;
    z-index: 20;
}
.heading{
  /* display: flex;
  justify-content: space-evenly; */
  position: relative;
}
.title{
  position: absolute;
  z-index: 2;
  background-color: #e1eaef;
  background: linear-gradient(#ffffff0c 10%, #e1eaefaa 25%, #e1eaef 75%);
  padding: 5% 2.5%;
  margin: 0;
  text-align: center;
  top: 40vh;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;
  /* transform: translateY(50%); */
  /* border-top: 1px solid rgba(255, 255, 255, 0.021); */
}
.title::after{
  width: 100vw;
  height: 200%;
  content: '';
  background-color: #e1eaef;
  position: absolute;
  top: 100%;
  left: 0;
}
.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #0a20e5 29%,
    #6d6cf9 67%, 
    #44107a 80%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
  font-size: 7vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.animate-charcter:first-child{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 9vw;
  margin-block: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.marquee {
  background-color: #ecede8;
  padding: 0;
  margin: 0 auto;
  animation: scrolling 20s linear infinite;
}
.marquee_gallery{
  display: flex;
}
    
.marquee-item {
}

.marquee-item img {
  display: block;
  height: 45vh;
}

@keyframes scrolling {
  0% { transform: translateY(0); }
  100% { transform: translateY(-270vh); }
}
#MCJ{
  cursor: pointer;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}

@media only screen and (min-width: 600px) {
  .logo{
    max-width: 6rem;
  }
  .heading{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .title{
    border: none;
    max-width: 60%;
    margin-top: 7.5%;
    top: 0;
    position: relative;
    text-align: left;
    padding: 0;
  }
  .title::after{
    position: relative;
  }
  .animate-charcter{
  font-size: 4vw;
}
  .animate-charcter:first-child{
  font-size: 5vw;
}

}
