*{
    padding: 0;
    margin: 0;
}
body{
  background-color: #000;
}
.home{
  height: 100vh;
  background-color: #000;
  /* text-align: center; */
  /* margin-top: 10%; */
  overflow: hidden;
}
.logo{
    text-align: center;
    padding: 5% 0;
}
.logo .gc{
  width: 50%;
  margin: 0 auto;
  cursor: pointer;

}
.heading{
  /* display: flex;
  justify-content: space-evenly; */
  position: relative;

}
.title{
  padding: 2.5% 2%;
  margin: 0;
}
.gold-text__highlight
{
  font-size: 4vw;
  font-family: 'Times New Roman',serif;
  letter-spacing: 5px;
  font-weight: bold;
  background-image: linear-gradient(
 to right,
 #462523 0,
 #cb9b51 22%, 
 #f6e27a 45%,
 #f6f2c0 50%,
 #f6e27a 55%,
 #cb9b51 78%,
 #462523 100%
 );
  color:transparent;
  -webkit-background-clip:text;
  text-shadow: 1px 1px 2px #f6f2c025;
  text-align: center;

}
.gold-text__highlight:first-child{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6vw;
  margin-block: 50px;
}
.hr{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin: 100px 0;
}
.hr_hide{
  display: flex;
  height: 200px;
  position: absolute;

}
.hide{
  display: block;
  font-style: italic;
  margin-top: 25%;
  font-size: 3vw;
}

.marquee {
  background-color: #ecede8;
  padding: 0;
  margin: 0 auto;
  animation: scrolling 20s linear infinite;
}
.marquee_gallery{
  display: flex;
}
    
.marquee-item {
}

.marquee-item img {
  display: block;
  height: 45vh;
}

@keyframes scrolling {
  0% { transform: translateY(0); }
  100% { transform: translateY(-360vh); }
}

.poster_section{
  text-align: center;
  background-color: #000;
}
.poster{
  height: 100vh;
  border-radius: 15px;
}
.click-to-view{
  font-size: 2.5ch;
  text-align: center;
  color: rgb(175, 175, 175);
  padding: 10px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-top: 2%; */
}
.modal-dialog{
  max-width: 70%;
  margin: 0 auto;
}
.modal_img{
  width: 30%;
  /* border-bottom-right-radius: 100%;
  border-top-right-radius: 100%; */
  border: 2px solid #d4d5d1d7;
  border-radius: 50px;
}
.modal_img_young{
  width: unset;
  height: 280px;
  border-radius: 20px;
}
.modal_intro{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  margin: 0;
  /* background-color: #ecede8; */
}
.card{
  cursor: pointer;
  background: #cb9b51;
  background-image: linear-gradient(
    to right,
    #cb9b51 0, 
    #f6e27a 30%,
    #f6f2c0 50%,
    #f6e27a 70%,
    #cb9b51 100%
    );
  max-width: 18rem;
 
}
.card-header{
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}
.card-header img{
  transition: 0.3s;
}
.card-header:hover img{
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}
@media only screen and (min-width: 1200px) {
  .logo{
    padding: 10px 0;
  }
  .logo .gc{
    width: 15%;
  }
  .modal_intro{
    flex-wrap: nowrap;
  }
  .hide{
    display: none;
  }
  .hr{
    margin: 0;
  }
  .hr_hide{
    display: none;
  }
  
  /* .heading{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .title{
    border: none;
    max-width: 60%;
    margin-top: 7.5%;
    top: 0;
    position: relative;
    text-align: left;
    padding: 0;
  }
  .title::after{
    position: relative;
  } */
  .animate-charcter{
  font-size: 3vw;
}
  .animate-charcter:first-child{
  font-size: 4vw;
}

}
